/* ******************** < FONTS > ******************** */

/* Background colour 
Cream1: #fffdf9
Cream2: #fff8ee

Font color 
Dark Grey: #343434 

Services: Private
Faded Green: #697b5e 

Services: Organisations
Light Beige1: #ddab78
Light Beige2: #ae8b75

Services: Yoga 
Light Rosé: #f4d9d5 */

/* ******************** < GLOBAL STYLES > ******************** */

* {
  margin: 0;
  padding: 0; 
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; 
}

body {
  background-color: rgb(255, 254, 250);
  color: #343434; 
  font-family: 'Aleo', serif;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.6;
  /* margin: 0 4vw; */
  max-width: 100vw;
}

a {
  text-decoration: none; 
}

h1.mobile-only {
  display: none;
}

.section-header {
  color: #767c77;
  font-family: 'Spartan', sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 5vh auto 2vh;
  position: relative;
  text-align: center;
}

.underline {
  border-bottom: 1.5rem solid rgba(221, 171, 120, 0.2);
  display: inline-block;
  line-height: 0.1;
  width: auto;
}

.underline-white {
  border-bottom: 1.5rem solid rgba(255, 255, 255, 0);
  display: inline-block;
  line-height: 0.1;
  width: auto;
}

.generic-button {
  background-color: #697b5e;
  border: none;
  border-radius: 15px;
  color: #fff8ee;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  /* padding: 1.5rem 2rem; */
  margin: 0 auto;
  text-transform: uppercase;
  width: fit-content;
}

.generic-button span {
  flex: 1;
  margin: 0 auto;
  padding: 1.5rem 2.2rem;
}

.generic-button:hover {
  background-color: rgb(70, 87, 59);
  color: #fff8ee;
  cursor: pointer;
  top: 99.5%;
}

.generic-button:focus {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

.generic-button:active {
  top: 100.5%;
}

.bring-forward {
  color: #fffdf9;
  z-index: 1000;
}

/* ******************** < HEADER STYLES > ******************** */

.header {
  align-items: center;
  background-color: rgb(255, 254, 250);
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  height: 15vh;
  padding: 2vh 4vw 1vh;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-logo {
  flex: 1 1 0;
  margin-left: 1vw;
}
.header-logo li {
  display: inline-block;
  list-style: none;
  position: relative;
  text-transform: uppercase;
}
.header-logo a {
  /* color: #767c77; */
  cursor: pointer;
  /* font-family: 'Poppins', sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1; */
  text-decoration: none;
}
.header-logo img {
  height: 7rem;
}

.header nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.header-nav:first-child {
  flex: 1 1 auto;
  margin-right: 2vw;
}

.header-nav:last-child {
  flex: 1 1 auto;
  margin-right: 1vw;
}

.header-nav > li {
  display: inline-block;
  list-style: none;
  padding-right: 2vw;
  text-align: center;
}
.header-nav > li:last-child {
  padding-right: 0;
}
.header-nav a {
  color: #767c77;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
}
.header-nav a:hover {
  color: #ba7967
}

.divider {
  font-size: 2.5rem;
  font-weight: 100;
}

.language {
  background-color: rgba(133, 163, 146, 0.5);
  border-radius: 100%;
  height: 3rem;
  margin-right: 0.5vw;
  /* padding: .3rem; */
  position: relative;
  text-align: center;
  vertical-align: -50%;
  width: 3rem;
}

.language:hover {
  background-color: rgba(133, 163, 146, 0.9);
}

.language a {
  color: rgb(255, 254, 250);
  left: 52.5%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.language a:hover {
  color: rgb(255, 254, 250);
}

.language-links a {
  font-size: 1.3rem;
}

/* ******************** < HERO STYLES > ******************** */

.hero {
  flex: 1 1 80vh;
  margin: 15vh 4vw 0;
}

.hero-image {
  background: 
    linear-gradient(
      rgba(118, 124, 119, 0.2),
      rgba(118, 124, 119, 0.2)
    ),
    url(images/compressed/cover/favourites/rocks6.jpg);
  background-size: cover;
  background-position: 50% 28%;
  position: relative;
}

.hero-text {
  color: rgba(255, 254, 250, 0.9);;
  font-family: 'Alata', sans-serif;
  font-size: 2.8rem;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-text span {
  display: block;
  font-weight: 100;
  text-align: center;
}

/* ******************** < SERVICE STYLES > ******************** */

.services-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 8vh 2vw;
}

.services-boxes {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4vh 0;
}

.service-box {
  border: 2px solid #697b5e;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  height: 64vh;
  margin: 4rem 0;
  position: relative;
  width: 24vw;
}
/* 
.individuals-box {
  border: 2px solid #697b5e;
}

.yoga-box {
  border: 2px solid #e7b2a5;
}

.orgs-box {
  border: 2px solid #ae8b75;
} */

.service-box__image {
  background-size: cover;
  flex: 0 1 55%;
}

.individuals-image {
  background-image: url("/images/compressed/services/private/private.jpg");
  background-position: center;
  background-size: cover;
}

.yoga-image {
  background-image: url("/images/compressed/services/yoga/yoga.jpg");
  background-position: center;
}

.orgs-image {
  background-image: url("/images/compressed/services/organisations/organisations.png");
  background-position: 60% 50%;
}

.service-box__number {
  /* background-color: #fabea7; */
  border-radius: 100%;
  display: none;
  height: 7rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 7rem;
}

.service-box__number span {
  color: #fff8ee;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); 
}

.individuals-number {
  background-color: #697b5e;
}

.yoga-number {
  background-color: #e7b2a5;
}

.orgs-number {
  background-color: #ae8b75;
}

.service-box__text {
  flex: 0 1 45%;
  position: relative;
}

.service-box__text h2 {
  font-family: 'Spartan', sans-serif;
  font-size: 0.85vw;
  font-weight: 500;
  left: 50%;
  letter-spacing: 0.8px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 21%;
  transform: translate(-50%, -50%); 
  width: 90%;
}

.service-box__text p {
  font-size: 1.5rem;
  font-weight: 300;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 55%;
  transform: translate(-50%, -50%); 
  width: 82%;
}

.services-button {
  font-size: 1.2rem;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translate(-50%, -50%);
}

/* ******************** < ABOUT STYLES > ******************** */

#about {
  height: 2vh;
}

.about-section {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  margin: 6vh 10vw;
}

.about-image {
  background-image: url(/images/compressed/about/kristina_filter_2b.jpg);
  background-position: center;
  background-size: cover;
  flex: 0 0 auto;
  margin-right: 3vw;
  width: 20vw;
}

.about-text {
  flex: 1 1 auto;
  margin: 3vh 0 0 3vw;
  text-align: justify;
}

.about-text h1 {
  color: #697b5e ;
  /* #767c77 */
  font-family: 'Spartan', sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.about-text h2 {
  color: #697b5e;
  display: inline;
  font-family: 'Caveat', cursive;
  font-size: 5rem;
}

.about-text p {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 2rem 0;
}

.about-button {
  margin: 1vh 0 3vh;
}

.about-button:hover {
  transform: translateY(-4%);
}

.about-button:focus {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

.about-button:active {
  transform: translateY(4%);
}


/* ******************** < ICONS STYLES > ******************** */

.icons-section {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0 4rem;
}

/* ******************** < VALUES STYLES > ******************** */

.white {
  display: none;
}

.icons-section__container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem 0;
}

.icons-section__box {
  margin: 2rem 1rem;
  padding: 1rem 2rem;
  width: 30rem;
}

.icons-section__box:hover {
  background-color: #697b5e;
  /* color: rgb(70, 87, 59); */
  /* border-bottom: 1px solid #697b5e; */
  /* margin: 0 0 1rem;  */
}

.icons-section__box:hover .icons-section__box--text h2, .icons-section__box:hover .icons-section__box--text p {
  color: #fff8ee;
}

.icons-section__box:hover .green {
  display: none;
}

.icons-section__box:hover .white {
  display: initial;
}

.icons-section__box--icon {
  padding-top: 3rem;
  text-align: center;
}

.icons-section__box--icon img {
  height: 10rem;
}

.icons-section__box--text {
  margin: 2rem 0;
  text-align: center;
}

.icons-section__box--text h2 {
  color: #697b5e;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1px;
  padding: 1rem 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.icons-section__box--text p {
  color: #697b5e;
  font-size: 1.44rem;
  font-weight: 300;
  height: 10rem;
  text-align: center;
}

/* ******************** < TESTIMONIAL STYLES > ******************** */

.testimonials-section {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0 5rem;
}

#testimonials .section-header {
  font-size: 3rem;
  left: 50%;
  margin-top: 12rem;
  position: absolute;
  transform: translate(-50%, -50%);
}


/* SLIDER STYLES */

.testimonials-container {
	position: relative;
	width: 90vw;
	height: 75vh;
	overflow: hidden;
}

.testimonial-header__container {
  display: flex;
  justify-content: center;
}

.testimonials-container.ie9 nav div span {
	display: none;
}
.testimonials-container ul li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: visibility 0s .6s;
}
.testimonials-container ul li::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	width: 135vh;
	height: 135vh;
	border: solid rgba(0,0,0,0.2);
  border-width: 0;
  /* opacity: 0.3; */
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: border-width .4s .6s;
}
.testimonials-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: 50% 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	mix-blend-mode: lighten;
	opacity: 0;
	transform: scale(1.2);
	transition: opacity .4s .6s, transform .4s .6s;
}
.testimonials-content blockquote {
  font-family: 'Poppins', sans-serif;;
	position: absolute;
	top: 60%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
	z-index: 200;
	max-width: 41%;
}

blockquote h2 {
  color: #fff8ee;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

blockquote p {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: .3px;
	margin-bottom: 3rem;
}

.testimonial-info {
  color: #fff8ee;
  display: block;
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: .5rem;
}
/* CURRENT SLIDE
---------------------------------*/
.testimonials-container li.current_slide {
	visibility: visible;
}
.testimonials-container li.current_slide::before {
	border-width: 16rem;
}
.testimonials-container li.current_slide .testimonials-content {
	opacity: 1;
	transform: scale(1);
}
/* ARROWS
---------------------------------*/
.testimonials-arrows div {
	position: absolute;
	top: 50%;
	left: 4%;
	width: 5rem;
	height: 5rem;
	margin-top: -2.5rem;
  list-style: none;
}
.testimonials-arrows div:last-of-type {
	left: auto;
	right: 4%;
}
.prev, .next {
	position: relative;
	z-index: 15;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 100%;
	transition: box-shadow .3s;
}
.prev::before, .prev::after, .next::before, .next::after {
	content: '';
	position: absolute;
	left: 43%;
	background: #fff;
	width: .4rem;
	min-width: 3px;
	border-radius: 3px;
	height: 34%;
}
.prev::before {
	transform: rotate(45deg);
	top: 24%;
}
.prev::after {
	transform: rotate(-45deg);
	bottom: 24%;
}
.next::before, .next::after {
	left: auto;
	right: 43%;
}
.next::before {
	transform: rotate(-45deg);
	top: 24%;
}
.next::after {
	transform: rotate(45deg);
	bottom: 24%;
}
.prev:hover, .next:hover {
	box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.15);
}
.testimonials-arrows > div > span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	border-radius: 100%;
	z-index: 5;
	pointer-events: none;
	will-change: width, height;
	transform: translate(-50%, -50%);
	transition: width .6s, height .6s;
}

/* ******************** < CONTACT STYLES > ******************** */

.contact-section {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  margin-bottom: 6rem;
  min-height: fit-content;
  width: 100%;
}

.contact-page {
  margin-top: 18vh;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent;
}

input::-webkit-input-placeholder { color: #9c9a9a; }
input:-moz-placeholder { color: #9c9a9a; }
input::-moz-placeholder { color: #9c9a9a; }
input:-ms-input-placeholder { color: #9c9a9a; }

textarea::-webkit-input-placeholder { color: #9c9a9a; }
textarea:-moz-placeholder { color: #9c9a9a; }
textarea::-moz-placeholder { color: #9c9a9a; }
textarea:-ms-input-placeholder { color: #9c9a9a; }

.contact-section__container{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100%;
  padding: 15px;
  width: 100%;
}

.contact-form__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  padding: 4rem 8rem;
  width: 1163px;
}

.contact-form__left-side {
  text-align: left;
  width: 50%;
}

.contact-form__left-side img {
  max-width: 100%;
}

.contact-home__image {
  height: auto;
  margin: 2vh auto;
  width: 24vw;
}

.contact-form__right-side {
  width: 50%;
}

.contact-form__text {
  display: block;
  color: #767c77;
  font-family: 'Aleo', serif;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
  width: 35%;
}

/* Width previously 50%. Change back when previous text added! */

.contact-form__text p {
  margin: 0 0 2rem;
}

.email-address {
  color: #a5b19d;
  font-weight: 100;
}

input.contact-form__input {
  height: 50px;
  border-radius: 15px;
  padding: 0 30px;
}

input.contact-form__input + .contact-form__input--shadow {
  border-radius: 15px;
}

textarea.contact-form__input {
  min-height: 150px;
  border-radius: 15px;
  padding: 12px 30px;
}
textarea.contact-form__input + .contact-form__input--shadow {
  border-radius: 15px;
}

.contact-form__input--wrap {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.contact-form__input {
  display: block;
  width: 100%;
  background: #dfebd8;
  font-family: 'Aleo', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.5;
  color: #343434;
}

.contact-form__input--shadow {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(105, 123, 94, 0.5);
}

.contact-form__input:focus + .contact-form__input--shadow {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

.contact-button__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ******************** < INSTA BOX STYLES > ******************** */

.instagram-section {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  width: 100%;
}

.photo-box__container {
  display: flex;
  flex: 0 0 65.25vw;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo-box {
  background-position: center;
  background-size: cover;
  flex: 0 0 16vw;
  height: 16vw;
  margin: .25vw 0 .25vw .25vw;
  /* opacity: 0.8; */
}

.photo-box:last-child {
  margin-right: 0.25vw;
}

.photo-1 {
  background-image: url(/images/compressed/instagram/photo1-final.jpg);
}

.photo-2 {
  background-image: url(/images/compressed/instagram/photo-2final.jpg);
}

.photo-3 {
  background-image: url(/images/compressed/instagram/photo-3finaljpg.jpg);
}

.photo-4 {
  background-image: url(/images/compressed/instagram/photo-4final.jpg);
}

.instagram-link {
  background-color: #ae8b75;
  flex: 0 0 33.25vw;
  height: 16vw;
  margin: 0.25vw 0 0.25vw 0.25vw;
  opacity: 0.8;
  position: relative;
}

.instagram-link p {
  font-family: 'Aleo', serif;
  font-size: 1.5vw;
  font-weight: 100;
  opacity: 0.7;
}

.instagram-link i {
  font-size: 4vw;
  padding: 2rem 0 2rem;
  opacity: 0.7;
}

.instagram-link a {
  color: rgb(255, 254, 250);
  left: 50%;
  position: absolute;
  text-align: center;
  text-decoration: none; 
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

/* ******************** < FOOTER STYLES > ******************** */

.footer {
  align-items: center;
  background-color: #697b5e;
  position: relative;
  height: 38vh;
  /* margin: 3rem 0 0; */
}

/* .contact-footer {
  background-color: #697b5e;
} */

.footer-logo {
  left: 50%;
  position: absolute;
  top: 25%;
  transform: translate(-50%, -50%);
}

.footer-logo img {
  height: 9rem;
}

.footer-logo li {
  color: rgba(255, 254, 250, 0.8);
  list-style: none;
  font-family: 'Spartan';
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
}

ul.footer-nav {
  width: 100vw;
}

.footer-nav {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer-nav > li {
  display: inline-block;
  list-style: none;
  padding-right: 2vw;
  text-align: center;
}

.footer-nav > li:last-child {
  padding-right: 0;
}

.footer-nav a {
  color: rgba(255, 254, 250, 0.5);
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
}

.footer-nav a:hover {
  color: rgba(255, 254, 250, 0.8);
}

.copyright {
  color: rgba(255, 254, 250, 0.5);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 75%;
  transform: translate(-50%, -50%);
}

.copyright p {
  margin-bottom: 0.5rem;
}


/* ****************** *M*E*D*I*A*S*T*Y*L*E*S* ****************** */

/* WIDE - DESKTOP DEVICES */

@media (min-width: 1600px) {
  .hero-text {
    font-size: 3.2rem;
    top: 48%;
  }

  .service-box {
    height: 56vh;
  }

  .service-box__text h2 {
    font-size: .9vw;
    width: 94%;
  }

  .service-box__text p {
    font-size: 1.75rem;
  }

  .icons-section__box {
    width: 34rem;
  }

  .icons-section__box--text h2 {
    font-size: 2rem;
    letter-spacing: 0.4px;
  }
  
  .icons-section__box--text p {
    font-size: 1.55rem;
    height: 10rem;
  }

  .testimonials-content blockquote {
    top: 58%;
    max-width: 49%;
  }

  blockquote h2 {
    font-size: 2.2rem;
    margin-bottom: 5rem;
  }

  blockquote p {
    font-size: 1.75rem;
    letter-spacing: .4px;
    line-height: 2;
    margin-bottom: 5rem;
  }

  .testimonial-info {
    font-size: 1.75rem;
    margin-bottom: .5rem;
  }
}

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 1150px) {

  .header-logo img {
    height: 6.5rem;
  }

  .nav-links > li {
    padding-right: .8vw;
  }

  .language-links > li {
    margin-right: .3vw;
  }

  .nav-links a {
    font-size: 1.4rem;
  }

  .language-links a {
    font-size: 1.1rem;
  }

  .services-boxes {
    flex-wrap: wrap;
  }

  .service-box {
    height: 55rem;
    width: 30rem;
  }

  .service-box__text h2 {
    font-size: 1.3vw;
  }

  .service-box__text p {
    font-size: 1.6rem;
    width: 80%;
  }

  .services-button {
    font-size: 1.1rem;
  }

  .icons-section__box {
    margin: 2rem 2rem;
    width: 40rem;
  }

  .icons-section__box--icon img {
    height: 12rem;
  }

  .icons-section__box--text h2 {
    font-size: 2.4rem;
  }
  
  .icons-section__box--text p {
    font-size: 1.65rem;
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }

  .contact-home__image {
    width: 35vw;
  }

  .footer {
    height: 25vh;
  }

  .footer-logo {
    top: 30%;
  }

  .footer-nav {
    top: 60%;
  }

  .copyright {
    top: 85%;
  }

}

@media (max-width: 1000px) {

  .header {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    height: 22vh;
  }

  .header-logo {
    flex: 0;
    margin: 0;
  }

  .header-logo img {
    height: 7rem;
  }

  .header nav {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .header-nav .divider {
    display: none;
  }

  .header-nav {
    margin-bottom: 2vh;
  }

  .header-nav:first-child {
    flex: 1 1 auto;
    margin-right: 0;
  }
  
  .header-nav:last-child {
    flex: 1 1 auto;
    margin-right: 1vw;
  }

  .nav-links > li {
    padding-right: 2.2vw;
  }

  .language {
    height: 2.5rem;
    width: 2.5rem;
  }

   ul.language-links {
    margin: 0 0 2vh;
  }

  .language-links > li {
    margin-right: .8vw;
  }

  .language-links > li:last-child {
    margin-right: 0;
  }

}


@media (max-width: 900px) {

  .service-box__text h2 {
    font-size: 1.8vw;
  }

  .testimonials-container ul li::before {
    /* border-radius: 5%; */
    width: 90vh;
    height: 90vh;
    opacity: 0.3;
  }

  .testimonials-content blockquote {
    top: 50%;
    max-width: 85%;
  }
  blockquote p {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .testimonial-info {
    font-size: 1.8rem;
    font-weight: 100;
  }

  .contact-page {
    margin-top: 24vh;
  }

  .instagram-section {
    flex-direction: row-reverse;
    flex: 1;
    width: 100%;
  }
  
  .photo-box__container {
    align-items: center;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }
  
  .photo-box {
    flex: 0 0 19.5vw;
    height: 19.5vw;
    margin: 1vh 0.5vw 0;
    opacity: 0.8;
  }

  .photo-4 {
    display: none;
  }
  
  .instagram-link {
    flex: 0 0 38vw;
    height: 19.5vw;
    margin: 1vh 0.5vw 0;
  }
  
  .instagram-link p {
    font-size: 1.6rem;
  }
  
  .instagram-link i {
    font-size: 4rem;
  }

}

@media (max-width: 780px) {

  .section-header {
    font-size: 3rem;
    margin: 5vh auto 0;
  }

  .mobile-remove {
    display: none;
  }

  h1.mobile-only {
    display: initial;
    color: #697b5e ;
    font-family: 'Spartan', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 3vh auto;
    text-align: center;
  }

  .about-section {
    flex-direction: column;
    margin: 2vh 10vw;
  }

  .about-image {
    background-position: 50% 20%;
    height: 40vh;
    margin: 0 auto;
    width: 40vw;
  }

  .about-text h1 {
    font-size: 1.8rem;
    font-weight: 100;
  }

  .icons-section__container {
    margin: 4rem 0 0;
  }

  .icons-section__box {
    margin: 1rem 1rem;
    padding: 0 1rem;
    width: 32rem;
  }

  .icons-section__box--icon img {
    height: 11rem;
  }

  .icons-section__box--text h2 {
    font-size: 2rem;
  }
  
  .icons-section__box--text p {
    font-size: 1.4rem;
    width: 88%;
  }

  .contact-form__text {
    font-size: 1.8rem;
    font-weight: 200;
    padding: 3rem 0 0;
    width: 70%;
  }

  .contact-form__left-side {
    text-align: center;
    width: 100%;
  }
  
  .contact-form__left-side img {
    margin: 0 0 4rem;
    max-width: 100%;
  }
  
  .contact-form__right-side {
    width: 100%;
  }

  .contact-button {
    margin-top: 3rem;
  }
  
  .photo-box {
    flex: 0 0 24vw;
    height: 24vw;
    margin: 1vw 1vw 1vw 0;
    opacity: 0.8;
  }

  .photo-3 {
    display: none;
  }
  
  .instagram-link {
    flex: 0 0 48vw;
    height: 24vw;
    margin: 1vw;
    width: 90vw;
  }
  
  .instagram-link p {
    font-size: 1.8rem;
  }
  
  .instagram-link i {
    font-size: 5rem;
  }
 
  .footer-logo img {
    height: 8rem;
  }

  .footer-nav a {
    font-size: 1.6rem;
  }
  
  .copyright {
    font-size: 1rem;
    font-weight: 200;
  }

}

@media (max-width: 600px) {

  .generic-button {
    font-size: 1.4rem;
  }

  .section-header {
    font-size: 2.5rem;
    margin: 5vh auto 0;
  }

  .section-header span {
    display: none;
  }

  .underline-white {
    border-bottom: 1.5rem solid rgba(255, 255, 255, 0.2);
  }

  h1.mobile-only {
    font-size: 2.5rem;
  }

  .header-logo img {
    height: 7rem;
    margin-bottom: 0.2rem;
  }

  .nav-links a {
    font-size: 1.2rem;
    font-weight: 200;
  }

  .nav-links > li {
    padding-right: 1.5vw;
  }

  .hero {
    flex: 1 1 70vh;
    margin: 24vh 4vw 0;
  }

  .hero-image {
    background: 
      linear-gradient(
        rgba(118, 124, 119, 0.1),
        rgba(118, 124, 119, 0.1)
      ),
      url(images/compressed/cover/favourites/rocks6.jpg);
    background-position: 82% 100%;
    background-size: cover;
  }

  .hero-text {
    font-size: 2rem;
    top: 13%;
    width: 100%;
  }

  .services-section {
    margin: 8vh 2vw 0;
  }

  .service-box {
    height: 42rem;
    width: 35rem;
  }

  .service-box__text p {
    font-size: 1.32rem;
    line-height: 1.7;
    width: 80%;
  }

  .service-box__text h2 {
    font-size: 1.28rem;
  }

  .about-section {
    flex-direction: column;
    margin: 0 10vw 2vh;
  }

  .about-image {
    background-position: 50% 20%;
    height: 60vh;
    width: 80vw;
  }

  .about-text {
    margin: 3vh 0;
  }

  .about-text h1 {
    font-size: 1.8rem;
    font-weight: 100;
    text-align: justify;
  }

  .about-text h2 {
    display: block;
    font-size: 5rem;
    text-align: left;
  }

  .about-button {
    margin: 5vh auto 3vh;
  }

  .icons-section__box {
    margin: 1rem 1rem;
    padding: 0;
  }

  .icons-section__box--icon {
    padding-top: 1rem;
  }

  .icons-section__box--icon img {
    height: 9rem;
  }

  .icons-section__box--text {
    margin: 1rem 0;
  }

  .icons-section__box--text p {
    font-size: 1.55rem;
  }

  .testimonials-container {
    height: 60vh;
  }

  #testimonials .section-header {
    margin-top: 9rem;
  }

  .testimonials-container ul li::before {
    border-radius: 5%;
    width: 120vh;
    height: 120vh;
    opacity: 0.3;
  }

  .testimonial-header__container {
    position: absolute;
    top: -5%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
  }

  .testimonials-content blockquote {
    top: 54%;
    width: 100%;
  }
  blockquote p {
    font-size: 1.4rem;
    line-height: 1.6;
    margin: 0 .6rem 2.5rem;
  }
  .testimonial-info {
    font-size: 1.2rem;
    font-weight: 100;
  }

  .testimonials-arrows div {
    top: 85%;
    left: 6%;
    width: 4.5rem;
    height: 4.5rem;
  }
  .testimonials-arrows div:last-of-type {
    right: 6%;
  }

  .contact-form__container {
    padding: 4rem 3rem;
  }

  .contact-form__text {
    font-size: 1.6rem;
    width: 70%;
  }

  .contact-home__image {
    margin: 4vh auto 0;
    width: 50vw;
  }

  .instagram-link p {
    font-size: 1.2rem;
  }
  
  .instagram-link i {
    font-size: 2.8rem;
    padding: .8rem 0;
  }

  .instagram-link a {
    width: 95%;
  }

  .footer {
    height: 28rem;
  }

  /* .footer-logo img {
    height: 6.5rem;
  } */

  .footer-logo li {
    display: inline-block;
    font-size: 2.4rem;
    margin: 1rem 0;
    text-align: center;
    width: 85vw;
  }

  .footer-nav a {
    font-size: 1.1rem;
  }
  
  .copyright {
    width: 100%;
    font-size: .8rem;
    font-weight: 200;
  }

  

}

@media (max-width: 380px) {

  .generic-button {
    font-size: 1.1rem;
  }

  .header {
    height: 22vh;
  }

  /* Was 22.5 with language buttons */

  .header-logo img {
    height: 5.6rem;
  }

  /* MT was .3vh with language buttons */

   /* ul.language-links {
    margin-top: 5vh;
  } */

  .nav-links > li {
    padding-right: 1.4vw;
  }

  .nav-links a {
    font-size: .9rem;
  }

  .language-links a {
    font-size: 1rem;
  }

  .language {
    height: 2.2rem;
    padding: .3rem;
    width: 2.2rem;
  }

  .hero-text {
    font-size: 1.7rem;
  }

  .service-box {
    height: 40rem;
    width: 30rem;
  }

  .service-box__text h2 {
    font-size: 2.85vw;
  }

  .service-box__text p {
    font-size: 1.2rem;
  }

  .icons-section__box--text p {
    font-size: 1.5rem;
  }

  blockquote p {
    font-size: 1.25rem;
    line-height: 1.7;
    margin: 0 .5rem 2.5rem;
  }
  .testimonial-info {
    font-size: 1.1rem;
  }

  .contact-form__text {
    font-size: 1.4rem;
    width: 80%;
  }

  .contact-home__image {
    margin: 4vh auto 0;
    width: 50vw;
  }

  .footer {
    height: 22rem;
  }

  .footer-logo li {
    font-size: 2rem;
  }

  @media (max-width: 325px) {

    #delete {
      display: none;
      padding: 0;
      margin: 0;
    }

    .section-header {
      font-size: 2.2rem;
    }
  
    h1.mobile-only {
      font-size: 2.2rem;
    }

    .nav-links > li {
      padding-right: 2vw;
    }
  
    .nav-links a {
      font-size: 1rem;
    }
  
    .language-links a {
      font-size: 1rem;
    }

    .hero-text {
      font-size: 1.5rem;
    }

    .service-box {
      height: 38rem;
      width: 28rem;
    }

    .service-box__text p {
      font-size: 1.15rem;
    }

    .icons-section__box--text {
      margin: 0 1.5rem;
    }

    .icons-section__box--text p {
      font-size: 1.4rem;
    }

    .testimonials-container {
      height: 72vh;
    }

    blockquote p {
      font-size: 1.3rem;
      line-height: 1.7;
      margin: 0 0.2rem 2rem;
    }

    .testimonial-info {
      font-size: 1rem;
    }

    .instagram-link p {
      font-size: 0.95rem;
    }

    .footer-nav {
      max-width: 70vw;
    }

    .footer-logo li {
      font-size: 1.8rem;
    }
  
  }}








